p{
border:2px solid blue;
padding:5px; 
font-size:26px;
}
#s1{
color:blue;
border:3px dashed lightblue;

}
#s2{

color:red;
border:3px solid green;



}
.g1{

background-color:lightblue

}

h1{
color:darkblue;
font-size:50px;
text-align:center;
border:2px dashed red;




}

